{% extends 'base_crud.html' %}
{% block title %}Modificar Destino{% endblock %}
{% block content %}
<h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modificar Destino Turístico</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="mt-4">
        <button type="submit" class="btn btn-warning"><i class="fa fa-save"></i> Actualizar</button>
        <a href="{% url 'index' %}" class="btn btn-secondary"><i class="fa fa-times"></i> Cancelar</a>
    </div>
</form>
{% endblock %}
